doctype html
html
  head
    title Detalle del Turno
    link(rel='stylesheet', href='/styles.css')
  body
    h1 Detalle del Turno
    if turno
      ul
        li ID: #{turno.id}
        li Paciente: #{turno.paciente_nombre}
        li Profesional: #{turno.profesional_nombre}
        li Especialidad: #{turno.especialidad_nombre}
        li Sucursal: #{turno.sucursal_nombre}
        li Fecha: #{turno.fecha}
        li Hora: #{turno.hora}
        li Estado: #{turno.estado}
      a(href=`/turnos/${turno.id}/editar`) Editar Turno
      form(action=`/turnos/${turno.id}/eliminar`, method='POST', style='display:inline')
        button(type='submit') Eliminar Turno
    else
      p Turno no encontrado.
    a(href='/turnos') Volver a la lista de turnos
